/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100vh;
    background-color: rgb(217, 198, 254);
}

/* estilos de logo */

.logo{
    width: 90%;
}

/* menu de navegacion */


header{
    height: 15vh;
    display: flex;
    justify-content: space-between;
    background-color: rgb(186, 155, 247);
}

header nav div{
    background-color: rgb(186, 155, 247);
}

header nav div div div a {
    margin: 5px;
    padding: 6px 10px;
}

header nav div div div a, header nav div div div a:visited {
    color: rgb(145, 90, 255);
    text-decoration: none;
}

/* estilos del buscador */

.searcher{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-bar{
    width: 60vw;
    height: 7vh;
    font-size: 1.2em;
}

.search-button{
    height: 2.5rem;
    width: 140%;
    font-size: 25px;
    margin-top: 1rem;
}

/* estilos de login */

.login-main{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login{
    padding: 30px;
    height: 70%;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 3px solid black;
}

.login h2{
    text-align: left;
    width: 85%;
}


.login-button{
    display: flex;
    justify-content: end;
}

.login-input{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.login-input input{
    height: 110%;
    width: 70%;
    font-size: 17px;
}

.login-input input::placeholder{
    color: lightgray;
}

.login-button input{
    height: 135%;
    width: 20%;
}

.login-register{
    width: 55%;
    display: flex;
    justify-content: flex-start;
}

/* estilos de info */

.info{
    padding: 30px;
    text-align: justify;
    font-size: 25px;
}

.info h2{
    margin: 20px 0;
    padding: 15px 0;
}

/* estilos de support */

.support{
    height: 70vh;
    width: 70vw;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.support-name{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.support-name input{
    height: 130%;
    width: 63%;
}

.support-mail{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.support-mail input{
    height: 130%;
    width: 63%;
}

.support-question{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.support-question textarea{
    font-size: 110%;
    height: 110%;
    width: 63%;
    resize: none;
}

.support-button{
    width: 80%;
    display: flex;
    justify-content: end;
}

.support-button input{
    height: 135%;
    width: 15%;
}

/* estilos de coleccion */

.collection{
    margin: 15px;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 15px;
}

 .collection div{
    height: 50%;
    width: 25%;
    display: flex;
    }


.collection div a img{
    height: 100%;
}

/* estilos de card info */

.card-info{
    display: flex;
    justify-content: space-between;
}

.card-info div{
    margin: 10%;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-info div img{
    height: 50vh;
}

.card-info div p{
    padding: 30px;
}

