html, body {
  height: 100vh;
  background-color: #FFECDA; }
  @media (max-width: 576px) {
    html, body {
      height: 80vh; } }

header nav div div div a, header nav div div div a:visited {
  color: #414042;
  text-decoration: none; }

/* buscador */
.searcher {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .searcher .search-bar {
    width: 60vw;
    height: 2.5em;
    font-size: 1.2em; }
  .searcher .search-bar:hover {
    box-shadow: 2px 2px 7px -2px #414042; }
  .searcher div .search-button {
    background-color: #db5f00;
    margin-top: 1rem; }
  .searcher div .search-button:hover {
    box-shadow: 2px 2px 7px -2px #414042; }

footer {
  height: 5vh; }
  footer a {
    text-decoration: none;
    color: #414042; }
  footer a:visited {
    color: #414042; }

/* estilos de info */
.info {
  padding: 3rem;
  text-align: justify;
  font-size: 1.1rem; }
  .info h2 {
    margin: 20px 0;
    padding: 15px 0; }
  .info div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem; }

/* estilos de card-info */
.card-info div {
  margin-top: 3rem;
  margin-right: 3rem;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 5fr 7fr;
  grid-template-rows: 10% 10% 20% 50%;
  grid-template-areas: "img h2" "img h3" "img p" "img p-text"; }
  @media (max-width: 576px) {
    .card-info div {
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      padding-left: 3rem;
      padding-right: 3rem; } }
  .card-info div img {
    width: 60%;
    grid-area: img; }
    @media (max-width: 576px) {
      .card-info div img {
        margin-top: 3rem; } }
  .card-info div p {
    grid-area: p;
    text-align: justify; }
  .card-info div h2 {
    justify-self: baseline;
    grid-area: h2; }
  .card-info div h3 {
    justify-self: baseline;
    grid-area: h3; }
  .card-info div .p-text {
    grid-area: p-text;
    text-align: justify; }

/* estilos de coleccion */
.collection {
  margin: 3rem;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 0.5rem; }
  @media (max-width: 576px) {
    .collection {
      margin: 1rem; } }
  .collection div {
    margin-bottom: 1rem; }
    .collection div a img {
      width: 18vw;
      transition: all 0.3s ease-in-out; }
      @media (max-width: 576px) {
        .collection div a img {
          width: 45vw; } }
    .collection div a img:hover {
      transform: scale(1.1); }

/* estilos de login */
.login-main {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .login-main .login {
    border-radius: 40px;
    padding: 30px;
    height: 70%;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #414042; }
    @media (max-width: 576px) {
      .login-main .login {
        height: 70vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        border: none; } }
  .login-main h2 {
    text-align: left;
    width: 85%; }
    @media (max-width: 576px) {
      .login-main h2 {
        text-align: start; } }
  .login-main .login-input {
    font-size: 20px;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 576px) {
      .login-main .login-input {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem; } }
    .login-main .login-input input {
      height: 110%;
      width: 70%;
      font-size: 17px; }
      @media (max-width: 576px) {
        .login-main .login-input input {
          height: 3rem;
          width: 100%; } }
    .login-main .login-input input:hover {
      box-shadow: 2px 2px 7px -2px #414042; }
    .login-main .login-input input::placeholder {
      color: lightgray; }
  @media (max-width: 576px) {
    .login-main .login-button {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem; } }
  .login-main .login-button input {
    background-color: #db5f00;
    height: 3rem; }
  .login-main .login-button input:hover {
    box-shadow: 2px 2px 7px -2px #414042; }

.login-register {
  width: 55%;
  display: flex;
  justify-content: flex-start; }
  .login-register a {
    text-decoration: none; }

/* estilos de support */
main .support {
  height: 70vh;
  width: 70vw;
  margin-left: 3rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1.5rem; }
  @media (max-width: 576px) {
    main .support {
      width: 100vw; } }
  main .support .support-name {
    width: 80%;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 576px) {
      main .support .support-name {
        display: flex;
        flex-direction: column; } }
    main .support .support-name input {
      height: 3rem;
      width: 63%; }
      @media (max-width: 576px) {
        main .support .support-name input {
          width: 100%; } }
    main .support .support-name input:hover {
      box-shadow: 2px 2px 7px -2px #414042; }
  main .support .support-mail {
    width: 80%;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 576px) {
      main .support .support-mail {
        display: flex;
        flex-direction: column; } }
    main .support .support-mail input {
      height: 3rem;
      width: 63%; }
      @media (max-width: 576px) {
        main .support .support-mail input {
          width: 100%; } }
    main .support .support-mail input:hover {
      box-shadow: 2px 2px 7px -2px #414042; }
  main .support .support-question {
    width: 80%;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 576px) {
      main .support .support-question {
        display: flex;
        flex-direction: column; } }
    main .support .support-question textarea {
      font-size: 110%;
      height: 110%;
      width: 63%;
      resize: none; }
      @media (max-width: 576px) {
        main .support .support-question textarea {
          width: 100%; } }
    main .support .support-question textarea:hover {
      box-shadow: 2px 2px 7px -2px #414042; }
  main .support .support-button {
    width: 80%;
    display: flex;
    justify-content: end; }
    main .support .support-button button {
      margin-top: 1rem;
      height: 3rem;
      width: 5rem;
      background-color: #db5f00; }
    main .support .support-button button:hover {
      box-shadow: 2px 2px 7px -2px #414042; }

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* menu de navegacion */
header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  background-color: #F79449; }
  header nav div {
    background-color: #F79449; }
    header nav div div a .logo {
      height: 6vh; }
    header nav div div div a {
      margin: 5px;
      padding: 6px 10px; }
