/* estilos de info */

.info{
    padding: 3rem;
    text-align: justify;
    font-size: 1.1rem;
    h2{
        margin: 20px 0;
        padding: 15px 0;
    }
    div{
        @include flex-column;
        gap: 1.5rem;
    }
}
