/* estilos de card-info */

.card-info{
    display: flex;
    justify-content: center;
    div{
        height: 80vh;
        width: 70vw;
        margin-top: 2rem;
        padding: 2rem;
        background-color: $background-color-light;
        border: 1px solid rgba(171, 171, 171, 0.312);
        border-radius: 40px;
        box-shadow: 13px 14px 43px -17px rgba(0,0,0,0.68);
        -webkit-box-shadow: 13px 14px 43px -17px rgba(0,0,0,0.68);
        -moz-box-shadow: 13px 14px 43px -17px rgba(0,0,0,0.68);
        @include grid;
        grid-template-columns: 6fr 6fr;
        grid-template-rows: 10% 5% 30% 30% 20%;
        grid-template-areas: 
            "img h2"
            "img h3"
            "img p"
            "img p-text"
            "img p-text-dos";
        @include mobile{
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            padding-left: 3rem;
            padding-right: 3rem;
        }
        img{
            width: 70%;
            box-shadow: 2px 2px 7px -4px $text-color;
            @include grid-area(img);
            @include mobile{
                margin-top: 3rem;
            }
        }
        p{
            @include grid-area(p);
            text-align: justify;
        }
        h2{
            justify-self: baseline;
            @include grid-area(h2);
        }
        h3{
            justify-self: baseline;
            @include grid-area(h3);
            font-size: medium
        }
        .p-text{
            @include grid-area(p-text);
            text-align: justify;
            font-style: italic;
        }
        .p-text-dos{
            @include grid-area(p-text-dos);
            text-align: justify;
        }
    }
    
}
