/* estilos de coleccion */

.collection{
    margin: 3rem;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 0.5rem;
    div{
        margin-bottom: 1rem;
        width: fit-content;
        a{
            img{
                width: 18vw;
                height: 100%;
                transition: all 0.3s ease-in-out;
            }
            img:hover{
                transform: scale(1.1);
            }
        }
    }
}