/* estilos de coleccion */

.collection{
    margin: 2rem 5rem 0 5rem;
    height: 80%;
    @include tablet{
        margin: 2rem 3rem 0 3rem;
    }
    @include mobile{
        margin: 1rem;
        justify-content: center;
    }
    div{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem;
        width: 100%;
        div{
            justify-items: stretch;
            width: 19%;
            min-width: 190px;
            margin-bottom: 1rem;
            @include tablet{
                width: 22%;
            }
            @include mobile{
                width: 45%;
            }
            a{
                img{
                    width: 100%;
                    transition: all 0.3s ease-in-out;
                }
                img:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}