/* estilos de coleccion */

.collection{
    margin: 3rem;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 0.5rem;
    @include mobile{
        margin: 1rem;
    }
    div{
        margin-bottom: 1rem;
        a{
            img{
                width: 18vw;
                transition: all 0.3s ease-in-out;
                @include mobile{
                    width: 45vw;
                }
            }
            img:hover{
                transform: scale(1.1);
            }
        }
    }
}