/* buscador */

.searcher{
    margin: 2rem 2rem 0 2rem;
    height: 80vh;
    @include flex-column;
    .search-bar{
        max-width: 50rem;
        height: 2.5em;
        font-size: 1.2em;
    }
    .search-bar:hover{
        box-shadow: 2px 2px 7px -2px $text-color;
    }
    div{
        .search-button{
            background-color: $button-color;
            margin-top: 1rem;
        }
        .search-button:hover{
            box-shadow: 2px 2px 7px -2px $text-color;
        }
    }
}

footer{
    height: 5vh;
    a{
        text-decoration: none;
    }
}
