// altura del navegador

%full-page-height{
    height: 100vh;
    background-color: $background-color;
    @include mobile{
        height: 80vh;
    }
}

// link

%link{
    color: $text-color;
    text-decoration: none;
}
